{% extends "::base.html.twig" %}

{% block title %}Logowanie{% endblock %}

{% block body %}

    <form action="{{ path('login_check') }}" method="post">
        <h3>Logowanie</h3>
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div class="form-group">
            <label class="control-label required" for="username">Username</label>
            <input id="username" name="_username" required="required" class="form-control" type="text" value="{{ last_username }}">
        </div>
        <div class="form-group">
            <label class="control-label required" for="password">Password</label>
            <input id="password" name="_password" required="required" class="form-control" type="password">
        </div>

        <input type="submit" class="w3-btn w3-ripple w3-green" value="Login" />
        <a href = "{{ path('forgotPassword') }}" ><button type="button" class="w3-btn w3-ripple">Zapomniałem hasła</button></a>
    </form>


{% endblock %}
