<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title style="clear: none">{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {#<link rel="script" href={{ asset('js/angular.min.js') }}>#}
        {#<link rel="script" href={{ asset('js/jquery.min.js') }}>#}
        {#<link rel="script" href={{ asset('js/jbootstrap.min.js') }}>#}
        <link rel="stylesheet" href={{ asset('css/bootstrap.min.css') }}>
        <link rel="stylesheet" href={{ asset('css/w3.css') }}>
        <link rel="stylesheet" href={{ asset('css/my_style.css') }}>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

    <body style="margin: 0 20px 0 20px">
<!-- HEADER -->
    <div class="w3-row w3-white w3-hide-medium w3-hide-small">
        <div class="w3-third" style="margin:4px 0 6px 0"><a class="w3schools-logo" href="http://127.0.0.1:8000/">
                <img src="{{ asset('images/logo.jpg') }}" height="100px" />TURNIEJOWO.pl
            </a></div>
        <div class="w3-twothird w3-margin-top w3-wide w3-hide-medium w3-hide-small">
            <div class="w3-right w3-text-amber" style="position: relative; top:60px">THE WORLD'S LARGEST WEB TOURNAMENT SITE</div>
        </div>
    </div>
<!-- MENU -->
    <ul class="w3-navbar w3-theme w3-card-2 w3-wide  w3-green" style="height: 54px;">
        <li class="navbarbtns"><a class="w3-hover-white w3-padding-16" href="{{ path('list_tournament') }}">Turnieje</a></li>

        {% if is_granted('ROLE_USER') %}
            <li class="navbarbtns"><a class="w3-hover-white w3-padding-16" href="{{ path('my_tournaments') }}">Moje turnieje</a></li>
            <li class="navbarbtns w3-right"><a class="w3-hover-white w3-padding-16" href="{{ path('logout') }}">Wyloguj</a></li>
        {% else %}
            <li class="navbarbtns w3-right"><a class="w3-hover-white w3-padding-16" href="{{ path('register_page') }}">Rejestracja</a></li>
            <li class="navbarbtns w3-right"><a class="w3-hover-white w3-padding-16" href="{{ path('login') }}">Logowanie</a></li>
        {% endif %}

        <li class="navbarbtns w3-amber w3-right" style="border-radius: 5px; height: 38px; margin: 9px 9px 5px 9px;">
            <a class="w3-padding-10 w3-hover-green" href="{{ path('add_tournament') }}">+ Dodaj</a>
        </li>
    </ul>
<!-- CONTENT -->
    <div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </div>
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/angular.min.js') }}"></script>
    </body>
</html>
