{% extends "::base.html.twig" %}

{% block title %}TournamentBundle:Tournament:editTournament{% endblock %}

{% block body %}
<h1>Edytuj</h1>
    {#{{ form(form) }}#}
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <a href="{{ path('list_tournament') }}" class="btn btn-primary">Back to the list</a>
    {{ form_end(edit_form) }}
{% endblock %}
